%h2 #{@player.full_name}

= link_to 'Edit Player', edit_player_path(@player), :class => 'right'

.indent
  %p.right
    %strong Record:
    %br
    %span #{@player.win_count} W
    = "/"
    %span #{@player.game_count - @player.win_count} L

  %h3 Games
  = render 'games/list', :games => @games

= will_paginate @games