!!!
%html
  %head
    %title The Hall of Catan
    = stylesheet_link_tag    "application"
    = javascript_include_tag "application"
    
    = stylesheet_link_tag "http://code.jquery.com/mobile/1.0/jquery.mobile-1.0.min.css"
    = javascript_include_tag "http://code.jquery.com/mobile/1.0/jquery.mobile-1.0.min.js"
    
    = csrf_meta_tags
    
  %body
    = yield
